Features due by 5/10:
 1) Any user can filter stories by useful criteria (author, genre, etc.)
 2) Any user can comment on a story.

------------------------------------------------------------------------------

Features due by 4/30:
 1) A logged-in user can create an author profile.
 2) A logged-in author can edit the information in their profile.
 3) A logged-in author can create a story.
 4) A logged-in author can add a chapter to a story.
 5) A logged-in author can edit chapters.

------------------------------------------------------------------------------

Features due by 4/16:
 1) Home page that lists all stories in some default order.
 2) Story page where you can read a story.
 3) Author page that shows an author's bio and lists all stories written by that author.
 4) Ability to log in and log out.

Sample data you'll probably need to demonstrate these features:
- An authors collection (with a couple of authors)
- A stories collection (with a handful of stories)

Feedback:
- Completed 4/4 requirements.
