body{
  background-color: #b8b8b8;
}

#header{
  text-align: center;
  border: thin solid black;
  background-color: #37be64;
box-sizing: border-box;
}
#chapter_title{
  text-align: center;
  margin: 3%;
}
#chapterOptions{
  width: 100%;
  text-align: center;
  border: thin solid black;

  box-sizing: border-box;
}

#currentChapter{
  width: 100%;
  height: 80px;
}
